body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background_mentalista.png");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

body>img {
  margin: 0 10px;
}

img {
  max-height: 350px;
}

.buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;

}

button {
  width: 300px;
  height: 100px;
  border-radius: 16px;
  background-color: rgb(153, 19, 19);
  color: #ffffff;
  font-size: 35px;
  border: none;
  letter-spacing: 3px;
}

button:hover{
  background-color: rgb(82, 0, 0);
  cursor: pointer;
}